In [22]:
import pandas as pd
from bokeh.charts import output_file, Chord
from bokeh.io import show, output_notebook
from bokeh.sampledata.les_mis import data
output_notebook()

In [23]:
nodes = data['nodes']
links = data['links']

In [32]:
nodes_df = pd.DataFrame(nodes)
nodes_df.head()

   group             name
0      1           Myriel
1      1         Napoleon
2      1  Mlle.Baptistine
3      1     Mme.Magloire
4      1     CountessdeLo

In [33]:
links_df = pd.DataFrame(links)
links_df.head()

   source  target  value
0       1       0      1
1       2       0      8
2       3       0     10
3       3       2      6
4       4       0      1

In [34]:
source_data = links_df.merge(nodes_df, how='left', left_on='source', right_index=True)
source_data = source_data.merge(nodes_df, how='left', left_on='target', right_index=True)
source_data = source_data[source_data["value"] > 5]
source_data.head()

    source  target  value  group_x           name_x  group_y           name_y
1        2       0      8        1  Mlle.Baptistine        1           Myriel
2        3       0     10        1     Mme.Magloire        1           Myriel
3        3       2      6        1     Mme.Magloire        1  Mlle.Baptistine
47      23      11      9        3          Fantine        2          Valjean
49      24      11      7        4   Mme.Thenardier        2          Valjean

In [ ]:
chord_from_df = Chord(source_data, source="name_x", target="name_y", value="value")
output_file('chord_from_df.html', mode="inline")
show(chord_from_df)

In [44]:
import numpy as np
import scipy.io as sio

author = pd.read_csv('../author.txt', encoding='cp1252',sep=";")
print(author.head())

faculty= pd.read_csv('../scholars_faculty.csv', sep="\t")
print(faculty.head())

   row index             author name  duke unique ID,
0          1            David W Jang           623466
1          2    Carol Casper Figuers            73333
2          3  Jeffrey Kyle Covington           279169
3          4           Haizhao  Yang           690400
4          5            Nancy  Crego           666575
   DUID PRO_FIRST_NAME PRO_MIDDLE_NAME PRO_LAST_NAME APPOINTMENT_TYPE  \
0  1080         Daniel           James        George          Primary
1  1080         Daniel           James        George        Secondary
2  1255        Suzanne          (null)      Shanahan   Administrative
3  1255        Suzanne          (null)      Shanahan          Primary
4  1438           John              J.       Glushik          Primary

                                               TITLE  Appt Org BFR  \
0                 Professor of Medicine, with tenure    6860201545
1                               Professor in Surgery    6860207000
2      Co-Director of the Kenan Institute for Ethics    6008208000
3  Associate Research Professor in the Department...    6064105610
4  Director of Translational Services in Innovati...    6008101000

   Appt Org Unit               Appt Org Desc
0       50000856         Medicine - Oncology
1       50000983                     Surgery
2       50000373  Kenan Institute for Ethics
3       50000532                   Sociology
4       50000280    PAS Adm - Provost Office

In [57]:
# Get the Duke Unique ID for the first Author in the dataset
author['duke unique ID,'][0]
author.iloc[0]['duke unique ID,']

623466

In [62]:
# Look up the entry for that Faculty member by Unique ID
faculty[faculty['DUID'].isin([author['duke unique ID,'][0]])]

,DUID,PRO_FIRST_NAME,PRO_MIDDLE_NAME,PRO_LAST_NAME,APPOINTMENT_TYPE,TITLE,Appt Org BFR,Appt Org Unit,Appt Org Desc
6430,623466,David,W,Jang,Primary,Assistant Professor - Track IV of Surgery,6860207035,50000993,Head and Neck Surgery Communications Sci
6431,623466,David,W,Jang,Secondary,Assistant Professor- Track IV in Neurosurgery,6860207710,50000990,Neurosurgery

In [42]:

mat_contents = sio.loadmat('../coauthornet.mat')
coauthornet = mat_contents['coauthornet']
# Numpy NdArray

coauthor = pd.DataFrame(coauthornet,    # values
                        index=author['author name'],    # Names as index
                        columns=author['author name'])  # Names as column names
coauthor.values

#chord_from_df = Chord(coauthor, source=author['author name'], target=author['author name'], square_matrix = True)
#output_file('chord_from_df.html', mode="inline")
#show(chord_from_df)

# Parameters:	
# data (Accepted Charts Data Formats) – the data source for the chart.
# source (list(str) – Data source to use as origin of the connection to a destination.
# target (list(str) – Data source to use as destination of a connection.
# value (list(num) – The value the connection should have.
# square_matrix (bool, optional) – If square matrix, avoid any calculations during the setup.
# label (list(str) – The labels to be put in the areas.

array([[ 6,  0,  0, ...,  0,  0,  0],
       [ 0,  2,  1, ...,  0,  0,  0],
       [ 0,  1, 10, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0]], dtype=uint16)